name: CI

on:
  push:
    branches:
      - "master"
      - "dev"
      - "main"
  pull_request:
    branches:
      - "master"
      - "dev"
      - "main"
  schedule:
    # Run a cron job once daily
    - cron: "0 0 * * *"

jobs:
  test:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Linux, Python 3.7
            os: ubuntu-latest
            python-version: "3.7"
            conda-installer: https://github.com/conda-forge/miniforge/releases/latest/download/Mambaforge-Linux-x86_64.sh

          - name: Linux, Python 3.9
            os: ubuntu-latest
            python-version: "3.9"
            conda-installer: https://github.com/conda-forge/miniforge/releases/latest/download/Mambaforge-Linux-x86_64.sh

          - name: MacOS, Python 3.7
            os: macOS-latest
            python-version: "3.7"
            conda-installer: https://github.com/conda-forge/miniforge/releases/latest/download/Mambaforge-MacOSX-x86_64.sh

    steps:
      - uses: actions/checkout@v2

      - uses: conda-incubator/setup-miniconda@v2
        with:
          installer-url: ${{ matrix.conda-installer }}
          python-version: ${{ matrix.python-version }}
          activate-environment: test
          channel-priority: true
          environment-file: devtools/conda-envs/env.yaml
          auto-activate-base: false
          use-mamba: true

      - name: Additional info about the build
        shell: bash
        run: |
          uname -a
          df -h
          ulimit -a
      - name: Environment Information
        shell: bash -l {0}
        run: |
          conda info --all
          conda list
          mamba --version
      - name: Install package
        shell: bash -l {0}
        run: |
          python -m pip install -e .
      - name: Run tests
        shell: bash -l {0}
        run: |
          pytest -v --cov=cinnabar --cov-report=xml --cov-report=term --color=yes cinnabar/tests/
      - uses: codecov/codecov-action@v2
        with:
          files: ./coverage.xml
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)

  lint-format:
    name: Lint & format checks
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2

      - uses: conda-incubator/setup-miniconda@v2
        with:
          installer-url: https://github.com/conda-forge/miniforge/releases/latest/download/Mambaforge-Linux-x86_64.sh
          python-version: "3.7"
          activate-environment: test
          channel-priority: true
          environment-file: devtools/conda-envs/env.yaml
          auto-activate-base: false
          use-mamba: true

      - name: Additional info about the build
        shell: bash
        run: |
          uname -a
          df -h
          ulimit -a
      - name: Environment Information
        shell: bash -l {0}
        run: |
          conda info --all
          conda list
      - name: Install package
        shell: bash -l {0}
        run: |
          python -m pip install --no-deps .
